.home {
    display: flex;
    height: 100vh;
    padding: 20px;
    gap: 30px;
    width: 100%
}

.home_searct_section{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex: 1;
    gap: 20px
    
}